---
import BaseLayout from '../layouts/BaseLayout.astro';
import batuKey from '../assets/batu.asc?url';
---

<BaseLayout title="contact" description="Contact Batu Bora.">
  <h1>contact</h1>
  <p>
    you can contact me through <a href="mailto:hello@batubora.com">email</a>(hello [at] batubora.com), i prefer my <a href={batuKey}>PGP key</a>
    to be used if unencrypted methods of communication are used.
  </p>
  <h3>other contacts</h3>
  <p><a href="https://github.com/cenab">github</a></p>
  <p><a href="https://huggingface.co/cenab">hugging face</a></p>
  <p><a href="https://scholar.google.com/citations?user=U2DKHhAAAAAJ&hl=en">google scholar</a></p>
  <p><a href="https://www.linkedin.com/in/cenab/">linkedin</a></p>
  <p><a href="https://orcid.org/0009-0002-2751-707X">orcid</a></p>
  <p><a href="https://discord.com/users/335907619653025792">discord</a></p>
  <p><a href="https://x.com/0x1337b2">x.com</a></p>
</BaseLayout>
